

#apInvTitle1{
    text-align: center;
    padding: 25px;
}

#apInvTitle2{
    border-radius: 2px;
    background: #00928d;
    border: 2px solid #117777;
    color: black; 
    font-family: calibri, sans-serif;
    text-align: center;
    padding: 5px;
}

#apInvLines{
    margin:auto;
    text-align: center;
    padding: 20px;
    width: auto;
}
#apInvFooter{
    border-radius: 2px;
    background: #dee6e6;
    border: 2px solid #117777;
    color: rgb(190, 205, 207);
    padding: 30px;
    font-family: calibri, sans-serif;
    text-align: center;
 
  }